# Django
DEBUG=1
SECRET_KEY=supersecretkey
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DJANGO_LANGUAGE_CODE=es-es
DJANGO_TIME_ZONE=America/Santiago

# Base de datos
DATABASE_NAME=myproject
DATABASE_USER=myuser
DATABASE_PASSWORD=pass123
DATABASE_HOST=db
DATABASE_PORT=5432